.event-card{
    max-width: 500;
    position: center;
}

.get-ticket-button {
    background-color:rgb(50, 151, 50);
    color: aliceblue;
    opacity: 1.0;
}

.get-ticket-button:hover {
    color: var(--secondary-color);
    opacity: 0.8;
}

.top-secret {
    visibility: hidden;
    font-size: xx-small;
}
