.event-card{
    max-width: 500;
    position: center;
}

.get-ticket-button {
    background-color: dodgerblue;
    color: aliceblue;
    opacity: 0.8;
}

.get-ticket-button:hover {
    color: var(--secondary-color);
    opacity: 0.8;
}
