<mat-card class="event-card">
<mat-card-header>
    <mat-card-title>{{event.name}}</mat-card-title>
</mat-card-header>
    <img mat-card-image src={{event.url}} width="500" height="auto" alt="poster of the event">
<mat-card-content>
    <h2>Description:</h2>
    <p>{{event.description}}</p>
    <p>Available tickets: {{event.capacity}}</p>
    <p>Date: {{event.date}}</p>    
</mat-card-content>
<mat-card-actions>
    <button mat-button class="get-ticket-button" [matMenuTriggerFor]="menu">
        Get Ticket
    </button>
      <mat-menu class="my-menu" #menu="matMenu">
        <mat-option>1</mat-option>
        <mat-option>2</mat-option>
        <mat-option>3</mat-option>
        <mat-option>4</mat-option>
        <mat-option>5</mat-option>
        <mat-option>6</mat-option>
        <mat-option>7</mat-option>
        <mat-option>8</mat-option>
        <mat-option>9</mat-option>
        <mat-divider></mat-divider>
        <mat-option>10+</mat-option>

    </mat-menu>
  </mat-card-actions>
</mat-card>