.event-card{
    max-width: 500;
    position: center;
}

.get-ticket-button {
    background-color:rgb(50, 151, 50);
    color: aliceblue;
    opacity: 1.0;
}

.get-ticket-button:hover {
    color: var(--secondary-color);
    opacity: 0.8;
}

.top-secret {
    visibility: hidden;
    font-size: xx-small;
    size: 0em;
}

.my-snackbar {
    background-color: green;
    color: green;
}

.card-inside {
    margin: 2rem;
}

.cont-flex {
    display: flex;
}

.cont-flex > * {
    flex-basis: 100%;
}

.event-header {
    padding: 0;
    margin: 1rem;
    border-radius: 15px;
    overflow: hidden;
    width: 100%;
    align-self: center;
}

.event-image {
    width: 100%;
}

.event-title {
    font-size: xx-large;
    padding: 1rem 1rem;
}

.event-description-content {
    line-height: 175%;
}

.event-content{
    margin: 1rem;
    border-radius: 15px;
}

.event-card-content {
    font-size: large;
    height: 100%;
}


@media screen and (max-width:1024px) {
    .cont-flex {
        flex-direction: column;
    }

    .event-header {
        max-width: 600px;
    }
}