<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>responsive footer design codepen</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <footer>
        <div class="footer-content">
            <h3>Ticket Cloud</h3>
            <p>Where dreams are made.</p>
            <ul class="socials">
                <li><a routerLink="/404"><i class="fa fa-facebook"></i></a></li>
                <li><a routerLink="/404"><i class="fa fa-twitter"></i></a></li>
                <li><a routerLink="/404"><i class="fa fa-google-plus"></i></a></li>
                <li><a routerLink="/404"><i class="fa fa-youtube"></i></a></li>
                <li><a routerLink="/404"><i class="fa fa-linkedin-square"></i></a></li>
            </ul>
        </div>
        <div class="footer-bottom">
            <p>copyright &copy; <a routerLink="/404">Ticket Cloud</a>  </p>
            <div class="footer-menu">
                <ul class="f-menu">
                <li><a routerLink="">Home</a></li>
                <li><a routerLink="/404">About</a></li>
                <li><a routerLink="/404">Contact</a></li>
                <li><a routerLink="/404">Blog</a></li>
                </ul>
            </div>
        </div>

    </footer>
</body>
</html>
