.search-box {
    flex:1;
    display: flex;
    justify-content: center;
    align-items: center;
    margin:auto;
    padding-top: 20px;

}

.search-field {
    height: 80px;
    width: 500px;
    padding: 8px;
    border:none;
    border-radius: 4px;
    font-size: 16px;
}
