<button mat-icon-button aria-label="Search">
    <mat-icon>search</mat-icon>
  </button>

<mat-form-field class="example-form-field">
    <input matInput #searchBox id="search-box" type="text" placeholder="Search for an event ..." (input)="search(searchBox.value)">
    <mat-list class="search-result">
        <mat-list-item *ngFor="let event of events$ | async" >
          <a routerLink="/event-page/{{event.id}}">
            {{event.name}}
          </a>
        </mat-list-item>
    </mat-list>
</mat-form-field>  
