<form class="search-box">
<mat-form-field class="search-field">
    <mat-label>Search an event with our state of the art search bar</mat-label>
    <input matInput #searchBox id="search-box-input" type="text" (input)="search(searchBox.value)" [matAutocomplete]="auto">
    <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
      <mat-option *ngFor="let event of events$ | async">
        <a routerLink="/event-page/{{event.id}}">
          {{event.name}}
        </a>
      </mat-option>
    </mat-autocomplete>
</mat-form-field>
</form>
<div>