<mat-toolbar class="custom-toolbar" role="heading">
    <mat-toolbar-row class="custom-toolbar-row">
      <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon" (click)="navigate()">
      <mat-icon>home</mat-icon>
    </button>
    <span>TicketHub</span>
    <span class="spacer"></span>
    
    <!--Search box component-->
    <app-event-searchbox></app-event-searchbox>

    <!-- Login/Register menu -->
    <span class="spacer"></span>
    <button mat-icon-button [matMenuTriggerFor]="menu">
      <mat-icon>person</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <h2>Welcome</h2>
      <div *ngIf="auth.user$ | async as user; else notLogged">
        <p>Glad to see you back</p>
        <p>user: {{ user.email }}</p>
      </div>
    
      <ng-template #notLogged>
        <p>Please log in to your account.</p>
      </ng-template>

      <app-auth-button></app-auth-button>
      <!--
      <div class="toAuthenticate" *ngIf="notAuthenticated; else logout">
      <app-log-in  (click)="$event.stopPropagation()"></app-log-in>
      <app-register (click)="$event.stopPropagation()"></app-register>
      </div>
      
      <ng-template #logout>
      <mat-card>
        <mat-card-header>Hello user</mat-card-header>
        <button mat-stroked-button>Profile</button>
        <button mat-stroked-button>Logout</button>
      </mat-card>
      </ng-template>
      -->
    </mat-menu>
    
    <!-- Share icon -->
    <button mat-icon-button class="icon" aria-label="Example icon-button with share icon" routerLink="/404">
      <mat-icon>share</mat-icon>
    </button>

    </mat-toolbar-row>
  </mat-toolbar>