<mat-toolbar class="custom-toolbar" role="heading">
    <mat-toolbar-row class="custom-toolbar-row">
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon" (click)="navigate()">
      <mat-icon>home</mat-icon>
    </button>
    <h1>
      <a class="title-link" style="color:aliceblue" routerLink="/dashboard">
      TicketCloud
      </a>
    </h1>
    <span class="spacer"></span>
    
    <!--Search box component-->
    <app-event-searchbox></app-event-searchbox>

    <span class="spacer"></span>
    <!-- Login/Register menu -->
    
    <button mat-icon-button class="example-icon" [matMenuTriggerFor]="menu">
      <mat-icon>person</mat-icon>
    </button>

    <mat-menu class="my-menu" #menu="matMenu">
      <div class="mat-menu-div">
      <h2>Welcome</h2>
      <div *ngIf="auth.user$ | async as user; else notLogged">
        <p>Glad to see you back</p>
        <p>user: {{ user.email }}</p>
      </div>
      <ng-template #notLogged>
        <p>Please authenticate yourself.</p>
      </ng-template>
      <app-auth-button></app-auth-button>
      </div>
    </mat-menu>
    
    <!-- Share icon -->
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon" routerLink="/404">
      <mat-icon>share</mat-icon>
    </button>

    </mat-toolbar-row>
  </mat-toolbar>