<div class="body">
<mat-card class="container">
    <div class="category-div" *ngFor="let category of categories">
    <h2 class="category-name">{{category}}</h2>
    <mat-grid-list class="custom-grid-list" cols="3" gutterSize="1.5%">
        <mat-grid-tile class="tile-background" *ngFor="let event of filterEvents(category)">
            <a routerLink="/event-page/{{event.id}}">
            <mat-grid-tile-header class="tile-title">{{event.name}}</mat-grid-tile-header>
            <img class="tile-pic" src={{event.url}}>
            <mat-grid-tile-footer class="tile-date">{{event.date}}</mat-grid-tile-footer>
            </a>
        </mat-grid-tile>
    </mat-grid-list>
    <mat-divider></mat-divider>
    </div>
</mat-card> 
</div>
